@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
body{
    background-color: #151c30 !important;
    color: #fff !important;
    font-family: 'Cairo', sans-serif !important;
}
.nav-link,.navbar-brand,.soical-link {
    color:#fff !important;
}
.secondColor{
    color: #949cb0;
}